.categories{
    margin-top: 3%;
    margin-left: 3%;
    margin-right: 3%;
}
.categories__one{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4%;
    margin-right: 4%;
}
.categories__one > img {
    border-radius: 8px;
    box-shadow: 2px 3px 5px 0.5px #0f7c90;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
.categories__one > img:hover{
    transform: translate3d(0,-5px,0);
}
.categories__one > h3{
    margin-top: 5%;
}
.categories__buy{
    display: flex;
    align-items: center;
    margin-top: 4%;
}
.categories__buy > p{
    font-weight: bold;
    font-size: 24px;
}
.categories__buyButton{
    border: 2px solid #0f7c90 !important;
    border-radius: 80px !important;
    color: #0f7c90 !important;
    font-weight: bold !important;
    margin-left: 12% !important;
    width: 50% !important;
}
.categories__two{
    margin-left: 15%;
}

@media screen and (max-width:1040px){
    .categories__buyButton{
        margin-left: 10% !important;
    }
}
@media screen and (max-width:850px){
    .categories__buyButton{
        margin-left: 8% !important;
        width: 40% !important;
    }
}

@media screen and (max-width:650px){
    .categories__buy{
        display: flex;
        flex-direction: column;
        
    }
    .categories__buy > p{
        margin-right: 25%;
    }
    .categories__buyButton{
        margin-right: 33% !important;
        width: 70% !important;
        margin-top: 3% !important;
    }
}

@media screen and (max-width:600px){
    .categories__one {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .categories__one > h3{
        text-align: center;
    }
    .categories__buy{
        display: flex;
        flex-direction: column;
    }
    .categories__buy > p{
        margin-right: 0px;
    }
    .categories__buyButton{
        margin-right: 5% !important;
        width: 65% !important;
        margin-top: 3% !important;
    }
}
