.featured{
    margin-top: 3%;
    margin-left: 3%;
    display: flex;
    flex-direction: column;
}
.featured__headings{
    margin-top: 2%;
    display: flex;    
}
.featured__headings > .act{
    margin-left: 2%;
}


